<h1>Welcome <%= current_user.first_name %></h1>
<%= link_to "Edit Profile", edit_user_registration_path, :class => 'ui purple basic button' %>

<h3>Current Trollo Boards</h3>

<div class="ui cards">
  <% @boards.each do |board| %>
  <div class="card">
    <div class="content">
      <div class="header"><%= board.name %></div>
    </div>
    <div class="ui two bottom attached buttons">
      <%= link_to 'View', user_board_path(current_user, board), :class => 'blue ui button' %>
      <%= link_to 'Edit', edit_user_board_path(current_user, board), :class => 'teal ui button' %>
    </div>
  </div>
  <% end %>
</div>
<br />
<%= link_to 'Add Board', new_user_board_path(@user), :class => 'green ui button' %>
<br /><br /><br />
<%= button_to "Log Out", destroy_user_session_path, method: :delete, :class => 'red basic ui button' %>