<h1>Edit <%= @board.name%></h1>
<%= form_for [@user, @board] do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required: true, autofocus: true %>
<%= f.submit %>
<% end %>
<br />
<%= link_to "Back", root_path %>