<h1><%= @board.name %></h1>
<hr>
<br />


<div class='ui four cards'>
  <% @lists.each do |list| %>
  <div class='card'>
    <div class='content'>
      <div class='header'><%=list.name%></div>
    </div>
    <div class='ui two bottom attached basic buttons'>
      <%= link_to 'Edit List', edit_board_list_path(@board, list), :class => 'ui teal basic button' %>
    </div>
  </div>
  <% end %>
</div>


<br />

<%= link_to 'New List', new_board_list_path(@board), :class => 'green ui button' %>

<br /><br /><br />
<%= link_to 'Delete Board', [@user, @board], method: :delete, :class => 'red ui basic tiny button' %>
<br />
<br />

<%= link_to "Back", root_path %>