<!DOCTYPE html>
<html>

<head>
  <title>Trollo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>
</head>

<body>
  <div class="ui container">
    <p class="notice"><%= notice %> </p>
    <p class="alert"><%= alert %> </p>
    <%= yield %>
  </div>
</body>

</html>